# Copy to .env and adjust to your liking.

export DOTFILES_REPO=https://github.com/martndemus/dotfiles.git
export DOTFILES_DIR="$HOME/Projects/dotfiles"
export TIMEZONE=Europe/Amsterdam
export LOCALE=en_US
